<a href="https://colab.research.google.com/github/EmrePrlk/EmrePrlk/blob/main/Claruswaydersleri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(''''We should have enough time for our family"''')

'We should have enough time for our family"

In [ ]:
a = 36.5
b = '30'
c = '3.5'
d = 'F is enough for room temperature.'

print(str(a+int(b)+float(c))+d)

70.0F is enough for room temperature.

In [ ]:
a = 10
b = 3
c = 1985
age = 36

In [ ]:
print("5" + "1")

51

In [ ]:
type(14)

int

In [ ]:
number_int = 123
number_str = "456"

print("Data type of number_int:", type(number_int))
print("Data type of number_str before Type Casting:", type(number_str))

number_str = int(number_str)
print("Data type of number_str after Type Casting:", type(number_str))

number_sum = number_int + number_str
print("Sum of number_int and number_str:", number_sum)
print("Data type of the sum:", type(number_sum))

Data type of number_int: <class 'int'>
Data type of number_str before Type Casting: <class 'str'>
Data type of number_str after Type Casting: <class 'int'>
Sum of number_int and number_str: 579
Data type of the sum: <class 'int'>

In [6]:
mycoin = 1000.0
time = 7.0
profit = 0.07

# formula is v(1+p)**t

mycoin*(float(1)+profit)**time

1605.7814764784307

In [ ]:
a = 36.5
b = '30'
c = '3.5'
d = 'F is enough for room temperature.'

print(str(a+int(b)+float(c))+d)

In [9]:
23%5 
23//5

4

In [31]:
81-55

26

In [32]:
3.14*(5**2)

78.5

In [33]:
x = 2
x +=3

x *= 5

In [37]:
print((1+3) ** (2 ** (1 * 2 / 2) /2))

4.0

In [41]:
a = 3
b = 4 

c = (a**2 + b**2)**0.5
c

5.0

In [42]:
number = 2021
text = "we have reached"
print(text, number)

we have reached 2021

In [51]:
print("Ali", "aslı")
print("Veli", "ayşe")
print("selvi", "baharat", 44, number, mycoin, sep = "   ")
print(c, False, "ahmet", 3.14, sep ="-")

Ali aslı
Veli ayşe
selvi   baharat   44   2021   1000.0
5.0-False-ahmet-3.14

In [53]:
print("ali", end = " ")
print("veli", "ayşe")

ali veli ayşe

In [54]:
text1 = "I bought"
text2 = "kg. of apple this morning"
amount = 6
text3 = text1 + " " + str(amount) + " " + text2
print(text1, amount, text2)
print("I bought", 6, "kg. of apple this morning")
print("I bought " + "6 " + "kg. of apple this morning")
print(text3)

I bought 6 kg. of apple this morning
I bought 6 kg. of apple this morning
I bought 6 kg. of apple this morning
I bought 6 kg. of apple this morning

In [58]:
print('kul ahmet\'in ceketi')

kul ahmet'in ceketi

In [60]:
print('kul ahmet\in ceketi')

kul ahmet\in ceketi

In [62]:
print('ayla\\nın çantası')

ayla\nın çantası

In [63]:
print('--------')

--------

In [67]:
text = "Clarusway, Clarusway, Clarusway, \n \t Clarusway, Clarusway, Clarusway, \n \t \t Clarusway, Clarusway, Clarusway"

print(text)

Clarusway, Clarusway, Clarusway,
 	 Clarusway, Clarusway, Clarusway,
 	 	 Clarusway, Clarusway, Clarusway